### Create random dataset

In [13]:
import pandas as pd
import numpy as np

# Pseudorandom generator
# https://www.datacamp.com/community/tutorials/numpy-random?utm_source=adwords_ppc&utm_campaignid=898687156&utm_adgroupid=48947256715&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=229765585186&utm_targetid=aud-299261629574:dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=1011036&gclid=CjwKCAjw55-HBhAHEiwARMCszno5EEa5HHfMx71AREQjivSqE7kECLYDtmt6j-o3Vwb8VrYyzt7ISRoCfJ4QAvD_BwE     
np.random.seed(88)

# Create a numeric sequence and a dataframe from it
# https://www.sharpsightlabs.com/blog/numpy-linspace/
df = pd.DataFrame({'A' : np.linspace(start=1,stop=10,num=10)})
print(f" Dataframe with only index : \n {df}")

# create an 2 D array of shape 10X4 and fill it with random values
# https://www.geeksforgeeks.org/numpy-random-randn-python/
# and concatenate with original dataframe
df = pd.concat(
    [
        df,
        pd.DataFrame(
            np.random.randn(10,4),
            columns=list('BCDE')
        )
    ],
    axis=1
)

# Set NaN in 2 cells, to demo highlighting later
df.iloc[3, 3] = np.nan
df.iloc[0, 2] = np.nan

print(f" Full Dataframe with No Styling : \n {df}")

 Dataframe with only index :
       A
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
5   6.0
6   7.0
7   8.0
8   9.0
9  10.0
 Full Dataframe with No Styling :
       A         B         C         D         E
0   1.0  0.106884       NaN  0.956563  0.068411
1   2.0  1.068514  0.997183 -0.931548  0.730430
2   3.0 -0.171214 -1.288691  1.061436 -0.040501
3   4.0 -0.903721 -1.554133       NaN  0.200526
4   5.0 -0.747329  1.068081 -0.277024  0.086557
5   6.0 -0.253221 -1.212041  0.277273  0.552219
6   7.0 -0.467743 -1.427493  0.885805  2.360634
7   8.0 -1.522006 -0.215945  0.190327  0.722256
8   9.0 -0.870716  0.101749  0.555358  0.962261
9  10.0  1.433499 -0.701818 -0.856952 -0.858158

### Styling to be done : 

<ul>
    <li> Maximum values marked yellow for each column
    <li> Null values marked red for each column
    <li> More appealing table style, better fonts for header, and increased font size.
</ul>

### Highlight Min-Max

In [14]:
df.style.highlight_max()

In [15]:
df.style.highlight_min()

### highlight_null()

In [16]:
df.style.highlight_null(null_color="green")

### set_na_rep() chained with highlight_null()
#### Along with highlighting the missing values, they may be represented as “nan”. You can change the representation of these missing values using the set_na_rep() function. This function can also be chained with any styler function but chaining it with highlight_null will provide more details.

In [17]:
df.style.set_na_rep("OutofScope").highlight_null(null_color="orange")

### Heatmap within dataframe

The higher is the color shade, the larger is the value present.

In [19]:
df.style.background_gradient()

### Making table borders green with text color as purple.

In [20]:
style_dict = {
    'border': '1.3px solid green',
    'color' : 'magenta'
}

df.style.set_properties(**style_dict)

### Bar charts

In [22]:
df.style.bar()

### Control precision

In [23]:
df.style.set_precision(2)

### Caption

In [25]:
df.style.set_caption("In God We Trust")

### Hide Index

In [26]:
df.style.hide_index()

### Format

In [33]:
df.style.format("{:.1%}", na_rep="Out Of Scope")